.room {
    padding: 0 1em;
    h2 {
        text-align: center;
        font-size: 1.2em;
        font-family: cursive;
        margin-bottom: 1em;
    }
    .add-stuff {
        text-align: right;
    }
}