.stuff {
    margin: 1em 0;
    padding: 1em;
    .top-line {
        display: none;
    }
    .close {
        float: right;
    }
    &:first-child {
        .top-line {
            display: block;
        }
    }
    .line {
        width: 50%;
    }
    input, textarea {
        box-shadow: 0 0 2px 1.5px gold;
    }
    textarea {
        width: 90%;
    }
    a {
        cursor: pointer;
    }
    .price {
        margin: 1em 20px;
    }
    .image-upload {
        cursor: pointer !important;
        z-index: 2;
        opacity: 0.01;
        position: absolute;
        transform: translateY(0.5em);
    }
}