.stuff {
    input {
        background: white !important;
    }
}

.toolBar {
    display: flex;
    >* {
        margin: 0 3px 0 0;
    }
}

.profile {
    margin: 4vh 4vw;
    input {
        background: white !important;
    }
    .profile-header {
        display: flex;
        align-items: flex-start;
        img.picture {
            flex-grow: 1;
            max-width: 10em;
            border-radius: 2em;
            margin: 1em 0;
        }
        .user-information {
            flex-grow: 2;
            margin-left: 1em;
        }
    }
    .card {
        position: relative;
        margin: 1em;
        border-radius: 10px;
        background: whitesmoke;
        h1, h2, h3 {
            padding: 5px 1em;
            margin: 0 0 1em;
        }
        .close {
            opacity: 0;
            cursor: pointer;
            position: absolute;
            border-radius: 20px;
            background: gold;
            top: -10px;
            right: -10px;
            transition: opacity 0.2s linear
        }
    }
    .profile-room {
        margin: 1em 0;
        border-radius: 10px;
        overflow: hidden;
        .category {
            table.profile-stuffs {
                width: 100%;
                padding: 0 0 0 5px;
                >* {
                    padding: 0 0 0 5px;
                }
                .stuff {
                    .close {
                        top: 13px;
                        left: -19px;
                        right: auto;
                    }
                    &:hover {
                        .close {
                            opacity: 1;
                        }
                    }
                    >:first-child {
                        position: relative;
                        text-align: center;
                        width: 1%;
                    }
                    .name {
                        width: 30%;
                    }
                    .description {
                        width: 55%;
                    }
                    .price {
                        width: 10%;
                    }
                }
            }
        }
    }
}

.profile-buttons {
    display: flex;
    >* {
        margin: 0 2px;
    }
}