.profile {
  margin: 4vh 4vw;
  input {
    background: white !important;
  }
  .profile-header {
    display: flex;
    img {
      border-radius: 10em;
      flex-grow: 1;
      max-width: 15em;
      max-height: 15em;
    }
    .user-information {
      flex-grow: 2;
      background: whitesmoke;
      padding: 2em;
      margin-left: 1em;
      border-radius: 10px;
    }
  }
  .profile-room {
    background: rgba(0, 0, 0, 0.5);
    margin: 1em 0;
    border-radius: 10px;
    overflow: hidden;
    .action-button {
      padding: 5px;
      background: gold;
      button.btn {
        margin: 0 1em;
        border: 1px solid;
      }
    }
    .room {
      h1 {
        margin-top: 0;
        padding: 0 1em;
        background: whitesmoke
      }
    }
    .category {
      margin: 1em;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid whitesmoke;
      h2 {
        margin-top: 0;
        background: whitesmoke;
      }
      .profile-stuffs {
        display: flex;
        padding: 0 2em;
        align-items: flex-start;
        .stuff {
          max-width: 11em;
          margin: 5px;
          border: 1px solid whitesmoke;
          border-radius: 5px;
          &:hover {
            .buttons {
              visibility: visible;
            }
          }
          h3 {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            i {
              font-size: 18px;
            }
            .buttons {
              display: flex;
              visibility: hidden;
            }
            .btn {
              padding: 2px;
              display: inline;
              height: 22px;
            }
          }
          >* {
            padding: 0 5px;
            background: whitesmoke;
          }
        }
      }
    }
  }
}

.profile-buttons {
  display: flex;
  >* {
    margin: 0 2px;
  }
}