div.full-screen-wrapper {
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  overflow: scroll;
  width: 100%;
  .full-screen {
    background: white;
    height: 90%;
    width: 90%;
    margin: auto;
    .room-stuffs {
      display: flex;
      flex-wrap: wrap;
      > * {
        border: 1px solid;
        padding: 5px;
        border-radius: 5px;
        width: 10em;
        margin: 0 5px;
      }
    }
    .room-bar {
      margin: 0 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .right-buttons {
        display: flex;
        align-items: center;
        .chat {
          padding: 5px;
          &:hover {
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 1px black;
          }
        }
        >div {
          height: 30px;
          margin: 0 1em;
          display: flex;
          align-items: center;
        }
      }
    }
    .room-description {
      margin: 0 1em;
    }
  }
  >i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
  }
  >span {
    position: fixed;
    display: table;
    height: 100%;
    font-size: 30px;
    &.arrow-right {
      right: 0;
    }
    &.arrow-left {
      left: 0;
    }
    i {
      cursor: pointer;
      margin: 0 50%;
      vertical-align: middle;
      display: table-cell;
      font-size: 1.5em;
    }
  }
}