div.rooms-grid {
    display: flex;
    justify-content: flex-start;
    margin-top: -2em;
    .column {
        flex-grow: 1;
        border-radius: 5px;
        text-align: center;
        padding: 1em;
        div.room-item {
            transition: all 0.2s ease-out;
            background: #ddd;
            margin: 8px;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            &:hover {
                padding: 8px;
                margin: 0;
            }
            >* {
                background: white;
            }
            .ipfs-picture {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                width: 100%;
            }
            div {
                &:last-child {
                    padding: 5px;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                h4, small {
                    text-align: left;
                    margin: 0;
                }
                img {
                    margin: 0;
                    cursor: zoom-in;
                    max-width: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
}