.input, .textarea {
    label {
        font-family: monospace;
        font-size: 1.3em;
        margin-left: 2em;
    }
    input, textarea {
        outline: none;
        border: none;
        padding: 0.5em;
        margin: 0.5em 1em 0;
        width: 20em;
        font-size: 1em;
        background: rgba(255, 255, 255, 0.5);
        &.error {
            background: rgba(255, 0, 0, 0.7);
        }
    }
    .errors {
        color: black;
        margin: 0 0 1em 1em;
        font-size: 0.8em;
        min-height: 1em;
    }
}