@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');

$default-font: 'Source Sans Pro', sans-serif;
$title-font: 'Raleway', sans-serif;

$yellow: #ffc107;
$lightyellow: lighten(#ffc107, 15%);
$green: #289057;
$lightgreen: #25d678;
$warning: #d2691e;
$lightwarning: lighten(#d2691e, 25%);
$orange: rgb(245, 124, 0);
$whitesmoke: #EFEFEF;
$transparent-grey: rgba(0, 0, 0, 0.07);
body {
  margin: 0;
  font-family: $default-font;
}

h1, h2, h3, h4, h5, .title {
    font-family: 'Raleway', sans-serif;
}

.graphiql-container {
  position: absolute;
}

.line {
  border: 1px solid black;
  width: 100%;
  margin: 1em auto;
  display: block;
}

.hidden {
  display: none !important;
}

.buttons {
    display: flex;
    >* {
        margin: 0 5px;
    }
}

a {
    text-decoration: none;
}

.Select {
    border-radius: 2px;
    background-color: $whitesmoke;
    border: 1px solid $whitesmoke;
    // react-select
    .Select-control {
        background-color: inherit;
        height: 32px;
        min-width: 6em;
        border: none;
        .Select-input {
            height: 32px;
        }
        .Select-value {
            margin-top: 3px;
        }
    }
}