.ipfs-picture {
    cursor: pointer;
    position: relative;
    text-align: center;
    display: inline-block;
    &.readOnly {
        cursor: inherit;
    }
    .layer {
        transition: all 0.15s linear;
        opacity: 0;
        left: 11px;
        color: gold;
    }
    &:hover {
        .layer {
            opacity: 1;
        }
        .picture-blur {
            transition: all 0.15s linear;
            filter: grayscale(100%);
        }
    }
    .loading {
        filter: blur(5px)
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: inherit;
    }
}