
@import 'routes/index.scss';

.layout {
  .blur {
    filter: blur(9px);
  }

  .background {
    position: fixed;
    background: whitesmoke;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 10px;
    margin-bottom: 2em;
    background-color: #ffc107;

    .left-items {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .app-icon {
      float: left;
      cursor: pointer;
      margin: 0 10px;
    }

    .title {
      white-space: nowrap;
      font-size: 18px;
      display: inline-flex;
      padding: 6px;
      margin: 0 1em;
    }

    .toolbar {
        display: flex;
        align-items: center;
        width: 100%;
        .Select {
            width: 100%;
        }
        > * {
            margin-right: 5px
        }
    }

    >div {
      display: inline-flex;
    }

    .back-button {
      cursor: pointer;
      float: left;
      font-family: sans-serif;
      display: flex;
      margin: 0 5px;
    }

    .auth {
      display: flex;
      float: right;
    }
    button, a {
      border-radius: 3px;
      border: 1px solid white;
      cursor: pointer;
      background: lighten(#ffc107, 15%);
      display: flex;
      font-size: 18px;
      outline: none;
      color: whitesmoke;
      padding: 5px;
      font-family: inherit;
      &.disabled {
        color: gold;
      }
    }

    .search-wrapper {
      margin: 0 1em;
      float: left;
      display: flex;
      height: 30px;
      border-radius: 3px;
      background: lightyellow;
      >i{
        font-size: 30px;
      }
      input {
        border: none;
        font-size: 26px;
        outline: none;
        padding: 0 5px;
        border-radius: 3px;
        background: lightyellow;
      }
    }
  }

  .modal {
    position: fixed;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    >* {
      cursor: default;
    }
  }
}