.caddy-container {
    width: 20%;
}
.caddy {
  border-top: 1px solid black;
    .caddy-category {
      h4 {
        margin: 5px 0 0;
      }
    }
    .caddy-stuff {
        display: table;
        position: relative;
        padding: 10px;
        margin-top: 12px;
        border: 1px solid gold;
        cursor: default;
        .close, .times {
            position: absolute;
            border: 1px solid gold;
            border-radius: 12px;
            background: white;
            z-index: 10;
            top: -12px;
        }
        .close {
            cursor: pointer;
            right: -12px;
            visibility: hidden;
        }
        .times {
            display: flex;
            font-weight: bold;
            height: 24px;
            width: 24px;
            align-items: center;
            justify-content: center;
            left: -12px;
        }
        &:hover {
            .close {
            visibility: visible;
            }
        }
    }
}