.caddy {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .caddy-item {
    margin: 1em;
    text-align: left;
    >div {
      font-style: oblique;
      text-align: right;
      width: 100%;
      span {
        background: gold;
        float: left;
        border-radius: 9px;
      }
      i {
        font-size: 18px;
        cursor: pointer;
        background: gold;
        border-radius: 9px;
      }
    }
    strong {
      padding: 1em;
      display: block;
      box-shadow: 0 0 3px;
      background: white;
      border-radius: 5px;
    }
  }
}