.restaurant-selected {
  max-width: 20%;
  position: absolute;
  right: 1em;
  bottom: 1em;
  img {
    border-radius: 3px;
    width: 100%;
  }
}

.foods-bar {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  strong {
    display: block;
  }
  .food-item {
    &.selected {
      border-radius: 5px;
      background: gold;
    }
    max-width: 300px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    background: lightyellow;
    img {
      cursor: pointer;
      width: 30%;
    }
  }
}

div.selected-food-picture {
  img {
    border-radius: 5px;
  }
}

.card {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 5em auto;
  background-size: cover;
  width: 80%;
  border: 1px solid;
  box-shadow: 0 0 5px black;
  .row {
    background-color: rgba($color: white, $alpha: 0.7);

    td {
      height: 30px;
    }
    .caddy-icon {
      cursor: pointer;
      width: 24px;
    }
    &:hover {
      background: ghostwhite;
      i {
        display: inline-block;
      }
    }
    i {
      display: none;
    }
  }
}