.login {
    padding: 1em;
    border: 1px solid beige;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    .action-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;
    }
    .errors {
        margin-top: 1em;
    }
    .question {
        button {
            margin: 0 auto 0.5em;
            display: flex
        }
    }
}