@import 'routes/index.scss';

.full-screen {
  box-shadow: 0 0 20px 0px #aaa;
  background: $whitesmoke;
  height: 85%;
  width: 85%;
  margin: auto;
  padding: 5px;
  position: relative;
  .warning-message {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: 15px;
      color: red;
  }
  .category {
        background: #ddd;
        border-radius: 4px;
        padding: 0.5em;
        h4 {
          margin: 0 0 5px;
        }
    .stuffs {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 5px;
        margin: -5px;
        overflow: scroll;
        >.stuff {
            cursor: pointer;
            transition: all 0.1s ease-out;
            box-shadow: 0 0 0 0 $whitesmoke;
            padding: 5px;
            background: $whitesmoke;
            border-radius: 5px;
            width: 10em;
            max-height: 5em;
            overflow: hidden;
            margin: 0 5px;
            &:hover {
                border-radius: 3px;
                box-shadow: 0 0 0 3px $whitesmoke;
            }
        }
    }
  }
  .room-bar {
    padding: 0 1em;
    margin: -5px -5px 0;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 5px 0;
    }
    .right-buttons {
      display: flex;
      align-items: center;
      .chat {
        padding: 5px;
        &:hover {
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0 0 1px black;
        }
      }
      >div {
        height: 30px;
        margin: 0 1em;
        display: flex;
        align-items: center;
      }
    }
  }
  .room-description {
    margin: 0 1em 0.5em;
    color: $warning;
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
  }
}