@import 'routes/index.scss';
div.welcome {
    background: $whitesmoke;
    .header {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        div {
            text-align: center;
            h1 {
                color: white;
            }
            h3 {
                color: $yellow;
            }
        }
    }
    .presentation {
        height: 100vh;
        margin: auto;
        width: 80%;
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
            margin: 2em 0;
            img, .img {
                margin: auto;
                background-size: cover;
                background-position: center center;
                &.distributed {
                    height: 10em;
                    width: 14em;
                    border-radius: 1em;
                }
            }
        }
    }

    .pick {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50vh;
        a {
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            color: gold;
            cursor: pointer;
            padding: 1em;
            border: 1px solid gold;
            &:hover {
                border: 1px solid darken(gold, 10%);
                background: gold;
                color: white;
            }
        }
    }
}