
body {
  margin: 0;
}

.graphiql-container {
  position: absolute;
}

.line {
  border: 1px solid black;
  width: 100%;
  margin: 1em auto;
  display: block;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: gold;
  cursor: pointer;
}

.btn {
  margin: 0 5px;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  box-shadow: 0 0 1.5px 1.5px;
  background-color: rgba(255, 215, 0, 0.1);
  &:hover {
    background-color: gold;
  }
}